# Ignore the .vev folder and its contents
.venv/

# Ignore the .idea folder and its contents
.idea/

# Ignore Python cache files
src/_pyccache_/

# Ignore the temp_data folder and its contents
temp_data/

# Ignore the temp_data folder and its contents
data/


# Ignore the specific API key file
data/api_keys/api_key.txt

# Ignore the test and rank_clusters files
src/test.py
src/rank_clusters.py